@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: grey;
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

h1 {
  font-size: 32px;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  background-color: white;
}
div {
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
div input {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
